<body class="container">
    
<div class="games">
    <h1>Game Edit</h1>
    <h3>Game Name</h3>
    <input type="text" [(ngModel)] = "game.name" placeholder="Name">
    <h3>Game description</h3>
    <!-- <input type="text" [(ngModel)] = "game.description" placeholder="Description"> -->
    <textarea type="text" [(ngModel)] = "game.description" placeholder="Description"></textarea>
    <h3>Cost</h3>
    <input type="number" [(ngModel)] = "game.cost" placeholder="Cost">
    <h3>Memory needed</h3>
    <input type="number" [(ngModel)] = "game.memory" placeholder="Memory">
    <h3>Categories :</h3>
    <div>
        <ul>
            <li *ngFor="let gtc of category_to_change">
                {{gtc.name}}
                <button  class="btnSupprimer" (click)="updateCategoryToRemove(gtc.category_id)">Remove</button>
                
            </li>
        </ul>
    </div>
    <h3>Platforms :</h3>
    <ul>
        <li *ngFor="let ptc of platform_to_change">
            {{ptc.name}}
            <button class="btnSupprimer" (click)="updatePlatformsToRemove(ptc.platform_id)">Remove</button> 
        </li>
    </ul>
</div>

<div class="plt">
    <h2>Platforms</h2>
    <form>Enter the platform name
        <input id="platformtofind" type="text" name="text">
        <input type="submit" value="Find" (click)="getFiltredPlatforms()">
    </form>
    <ul>
        <li *ngFor="let fp of filtred_platforms">
            <button (click)="updatePlatformsToAdd(fp)">{{fp.name}}</button><br>
            Description :{{fp.description}}
        </li>
    </ul>
</div>

<div class="btn">
    <button class="btnAjouter" (click)="updateGame()">Save</button>
    <button class="btnBluer" (click)="cancelEdit()">Cancel</button>
</div>

<div class="cat">
    <h2>Categories</h2>
    <form>Enter the category name
        <input id="categorytofind" type="text" name="text">
        <input type="submit" value="Find" (click)="getFiltredCategory()">
    </form>
    <ul>
        <li *ngFor="let fc of filtred_categories">
            <button (click)="updateCategoryToAdd(fc)">{{fc.name}}</button><br>
            Description :{{fc.description}}
        </li>
    </ul>
</div>

</body>
