
/* div {
    display: flexbox;
    padding: 10px;
    border: 3px solid #3821ad;
}
.games {
    clear: left;
    width: 750px;
}

.left {
    clear: right;

}
 */
 .btnlistP { background:none; border:none; cursor: pointer;}
 .btnlistP:focus { background:rgb(173, 89, 251); border:none; }
 
 .btnlistC { background:none; border:none; cursor: pointer;}
 .btnlistC:focus { background:rgb(173, 89, 251); border:none; }

 span {
    content: "\002B";
  }

  /* .addButton {
  position: relative;
  border-width: 1px;
  border-style: solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  } */